LLM_API_BASE_URL=""
LLM_API_KEY=""
LLM_API_MODEL=""
VERIFY_REGISTRY_DATA=""
SAM_API_BASE_URL="https://api.sam.gov/entity-information/v4/entities"
SAM_API_KEY=""
CAC_PUBLIC_SEARCH_URL="https://icrp.cac.gov.ng/public-search"
